:root.theme-dark {
    --background-path: url("../images/cover-image-dark.png");
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --main-text-color: #F1B2CE;
    --background-color: #000028;
}

.theme-dark .decorative-element {
    display: block;
}

.theme-dark .title-background {
    color: var(--background-color);
}

.theme-dark .main__section__title {
    color: var(--accent-color);
}

.theme-dark .decorated-zone::before {
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
}

.theme-dark .decorated-zone::after {
    border-left: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}

.theme-dark .header__theme-menu {
    color: var(--accent-color);
}

.theme-dark .header__theme-menu-button:hover {
    outline: 1px solid #FF007066;
}

.theme-dark .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--accent-color);
}

.theme-dark .header__theme-menu-button_active {
    outline: 1px solid var(--accent-color);
}



