:root.theme-light {
  --background-path: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --main-text-color: #353430;
}

.theme-light .title-background {
  color: #353430;
}

.theme-light .decorative-element {
  display: none;
}

.main__section__title {
  color: #353430;
}
